#difficulties-parallax-container {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 35%;
    width: 100%;
    height: 50%;
    margin: 0 auto;
}

#difficulties-parallax {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#difficulties-parallax-item {
    height: 100%;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

#sticky-section {
    position: relative;
    width: 45%;
    height: 100%;
    margin-left: 5%;

}

.image-fade-in {
    opacity: 0;
    transform: translateX(-20px);
    /* Optional: add a slight slide effect */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.image-fade-in.visible {
    opacity: 1;
    transform: translateX(0);
    /* Reset the transform when visible */
}




#sticky-card-img {
    position: absolute;
    border-radius: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

}


#parallax-section {
    position: relative;
    width: 40%;
    height: 100%;
    margin-left: 5%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#parallax-card-text-container {
    position: relative;
    display: flex;
    text-align: left;
    align-items: center;
    margin-top: 19.5%;
    margin-bottom: 19.5%;
}

#parallax-card-text {

    font-family: 'UTMSwiss';
    color: white;
    font-size: 3.2rem;
    text-align: left;
}