.container {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.img1 {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 100%;
    display: block;
    filter: brightness(35%)
}

.img2 {
    height: 1200px;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 25%;
    display: block;
}

.img3 {
    height: 900px;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 100%;
    display: block;
    filter: brightness(35%)
}

.img4 {
    height: 20rem;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 100%;
    display: block;
    filter: brightness(35%)
}


.headline-1 {
    font-family: 'Vintage';
    position: absolute;
    right: 0;
    left: 0;
    top: 20%;
    bottom: 0;
    margin: auto;
    width: auto;
    text-transform: uppercase
        /* color: white; */
}

.headline-2 {
    font-family: 'Vintage';
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    margin: auto;
}

.sub-text {
    color: white;
    font-size: 40px
}

.main-text-1 {
    color: white;
    font-size: 80px;
    text-transform: uppercase;
}

.main-text-2 {
    color: '#343A40';
    text-transform: uppercase;
    font-size: 100px
}

.description-1 {
    font-family: 'UTMSwiss';
    position: absolute;
    width: 800px;
    color: white;
    right: 0;
    left: 0;
    top: 45%;
    bottom: 0;
    margin: auto;
    font-size: 25px;
    line-height: 3rem;
}

.description-count {
    font-family: 'Vintage';
    font-size: 50px;
    text-align: left;
    font-weight: bold;
}